# Mobile App for Lottery Addiction

<p style='font-size:17px'>Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.<br /><br/>
A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.<br/><br/>
Some questions are:<br/>
<ul>
    <li>What is the probability of winning the big prize with a single ticket?</li>
    <li>What is the probability of winning the big prize if we play 40 different tickets (or any other number)?</li>
    <li>What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?</li><ul>
</p>

In [8]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact *= i
    return fact

In [9]:
def combinations(n, k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n-k)
    return numerator/denominator

In [10]:
def one_ticket_probability(lst):
    total_outcomes = combinations(49,6)
    prob_one_ticket = 1/total_outcomes
    percent = prob_one_ticket * 100
    print("Your chances of winning the lottery is {:.7f}%".format(percent))

In [11]:
test_input_2 = [9, 26, 41, 7, 15, 6]
one_ticket_probability(test_input_2)

Your chances of winning the lottery is 0.0000072%

In [12]:
import pandas as pd

In [13]:
canada_lottery = pd.read_csv('649.csv')
canada_lottery.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [14]:
canada_lottery.shape

(3665, 11)

In [15]:
canada_lottery.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [17]:
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row

winning_numbers = canada_lottery.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [18]:
def check_historical_occurence(user, history):
    user_set = set(user)
    check = user_set == history
    print('The combination you passed appeared {} times in the past.'.format(check.sum()))

In [20]:
test_input_3 = [33, 36, 37, 39, 8, 41]
check_historical_occurence(test_input_3, winning_numbers)

The combination you passed appeared 1 times in the past.

In [21]:
def multi_ticket_probability(number_of_tickets):
    total_outcomes = combinations(49,6)
    prob = number_of_tickets/total_outcomes
    percent = prob * 100
    print("Your chances of winning the lottery is {:.7f}%".format(percent))

In [23]:
test_inputs = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for test_input in test_inputs:
    multi_ticket_probability(test_input)
    print('------------------------')

Your chances of winning the lottery is 0.0000072%
------------------------
Your chances of winning the lottery is 0.0000715%
------------------------
Your chances of winning the lottery is 0.0007151%
------------------------
Your chances of winning the lottery is 0.0715112%
------------------------
Your chances of winning the lottery is 7.1511238%
------------------------
Your chances of winning the lottery is 50.0000000%
------------------------
Your chances of winning the lottery is 100.0000000%
------------------------

Obviously if you can buy all the tickets your percentage of winning will be 100%.

In [24]:
def probability_less_6(ninput):
    ncombination = combinations(6,ninput)
    remaining = combinations(43, 6-ninput)
    success_outcome = ncombination * remaining
    total = combinations(49,6)
    probability = success_outcome/total
    percentage = probability * 100
    print("Your chances of winning the lottery is {:.6f}%".format(percentage))

In [25]:
for test_input in [2, 3, 4, 5]:
    probability_less_6(test_input)
    print('--------------------------')

Your chances of winning the lottery is 13.237803%
--------------------------
Your chances of winning the lottery is 1.765040%
--------------------------
Your chances of winning the lottery is 0.096862%
--------------------------
Your chances of winning the lottery is 0.001845%
--------------------------